<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dlf.business.dao.WeatherMapper">
  <resultMap id="BaseResultMap" type="com.dlf.model.po.weather">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="country" jdbcType="VARCHAR" property="country" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="weather_current" jdbcType="VARCHAR" property="weatherCurrent" />
    <result column="weather_whole_day" jdbcType="VARCHAR" property="weatherWholeDay" />
    <result column="temp_current" jdbcType="INTEGER" property="tempCurrent" />
    <result column="temp_max" jdbcType="INTEGER" property="tempMax" />
    <result column="temp_min" jdbcType="INTEGER" property="tempMin" />
    <result column="humidity" jdbcType="INTEGER" property="humidity" />
    <result column="wind" jdbcType="VARCHAR" property="wind" />
    <result column="website_update_time" jdbcType="TIMESTAMP" property="websiteUpdateTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
  </resultMap>
  <sql id="Base_Column_List">
    id, country, province, city, weather_current, weather_whole_day, temp_current, temp_max, 
    temp_min, humidity, wind, website_update_time, create_time, remark, is_deleted
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from weather
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from weather
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.dlf.model.po.weather">
    insert into weather (id, country, province, 
      city, weather_current, weather_whole_day, 
      temp_current, temp_max, temp_min, 
      humidity, wind, website_update_time, 
      create_time, remark, is_deleted
      )
    values (#{id,jdbcType=BIGINT}, #{country,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, 
      #{city,jdbcType=VARCHAR}, #{weatherCurrent,jdbcType=VARCHAR}, #{weatherWholeDay,jdbcType=VARCHAR}, 
      #{tempCurrent,jdbcType=INTEGER}, #{tempMax,jdbcType=INTEGER}, #{tempMin,jdbcType=INTEGER}, 
      #{humidity,jdbcType=INTEGER}, #{wind,jdbcType=VARCHAR}, #{websiteUpdateTime,jdbcType=TIMESTAMP}, 
      #{createTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}, #{isDeleted,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.dlf.model.po.weather">
    insert into weather
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="country != null">
        country,
      </if>
      <if test="province != null">
        province,
      </if>
      <if test="city != null">
        city,
      </if>
      <if test="weatherCurrent != null">
        weather_current,
      </if>
      <if test="weatherWholeDay != null">
        weather_whole_day,
      </if>
      <if test="tempCurrent != null">
        temp_current,
      </if>
      <if test="tempMax != null">
        temp_max,
      </if>
      <if test="tempMin != null">
        temp_min,
      </if>
      <if test="humidity != null">
        humidity,
      </if>
      <if test="wind != null">
        wind,
      </if>
      <if test="websiteUpdateTime != null">
        website_update_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="country != null">
        #{country,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="weatherCurrent != null">
        #{weatherCurrent,jdbcType=VARCHAR},
      </if>
      <if test="weatherWholeDay != null">
        #{weatherWholeDay,jdbcType=VARCHAR},
      </if>
      <if test="tempCurrent != null">
        #{tempCurrent,jdbcType=INTEGER},
      </if>
      <if test="tempMax != null">
        #{tempMax,jdbcType=INTEGER},
      </if>
      <if test="tempMin != null">
        #{tempMin,jdbcType=INTEGER},
      </if>
      <if test="humidity != null">
        #{humidity,jdbcType=INTEGER},
      </if>
      <if test="wind != null">
        #{wind,jdbcType=VARCHAR},
      </if>
      <if test="websiteUpdateTime != null">
        #{websiteUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dlf.model.po.weather">
    update weather
    <set>
      <if test="country != null">
        country = #{country,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="weatherCurrent != null">
        weather_current = #{weatherCurrent,jdbcType=VARCHAR},
      </if>
      <if test="weatherWholeDay != null">
        weather_whole_day = #{weatherWholeDay,jdbcType=VARCHAR},
      </if>
      <if test="tempCurrent != null">
        temp_current = #{tempCurrent,jdbcType=INTEGER},
      </if>
      <if test="tempMax != null">
        temp_max = #{tempMax,jdbcType=INTEGER},
      </if>
      <if test="tempMin != null">
        temp_min = #{tempMin,jdbcType=INTEGER},
      </if>
      <if test="humidity != null">
        humidity = #{humidity,jdbcType=INTEGER},
      </if>
      <if test="wind != null">
        wind = #{wind,jdbcType=VARCHAR},
      </if>
      <if test="websiteUpdateTime != null">
        website_update_time = #{websiteUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dlf.model.po.weather">
    update weather
    set country = #{country,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      weather_current = #{weatherCurrent,jdbcType=VARCHAR},
      weather_whole_day = #{weatherWholeDay,jdbcType=VARCHAR},
      temp_current = #{tempCurrent,jdbcType=INTEGER},
      temp_max = #{tempMax,jdbcType=INTEGER},
      temp_min = #{tempMin,jdbcType=INTEGER},
      humidity = #{humidity,jdbcType=INTEGER},
      wind = #{wind,jdbcType=VARCHAR},
      website_update_time = #{websiteUpdateTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR},
      is_deleted = #{isDeleted,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>