<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dlf.model.mapper.ConsignMapper">
  <resultMap id="BaseResultMap" type="com.dlf.model.po.Consign">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="consign_code" jdbcType="VARCHAR" property="consignCode" />
    <result column="departure" jdbcType="VARCHAR" property="departure" />
    <result column="destination" jdbcType="VARCHAR" property="destination" />
    <result column="consignor_id" jdbcType="BIGINT" property="consignorId" />
    <result column="consignee_id" jdbcType="BIGINT" property="consigneeId" />
    <result column="vehicle_id" jdbcType="BIGINT" property="vehicleId" />
    <result column="product_id" jdbcType="BIGINT" property="productId" />
    <result column="loading_place" jdbcType="VARCHAR" property="loadingPlace" />
    <result column="vehicle_leave_time" jdbcType="TIMESTAMP" property="vehicleLeaveTime" />
    <result column="cargo_leave_time" jdbcType="TIMESTAMP" property="cargoLeaveTime" />
    <result column="expected_arrive_time" jdbcType="TIMESTAMP" property="expectedArriveTime" />
    <result column="cargo_package_time" jdbcType="TIMESTAMP" property="cargoPackageTime" />
    <result column="pay_type" jdbcType="INTEGER" property="payType" />
    <result column="transport_type" jdbcType="INTEGER" property="transportType" />
    <result column="receipt_type" jdbcType="INTEGER" property="receiptType" />
    <result column="delivery_type" jdbcType="INTEGER" property="deliveryType" />
    <result column="basic_price" jdbcType="DECIMAL" property="basicPrice" />
    <result column="vehicle_price" jdbcType="DECIMAL" property="vehiclePrice" />
    <result column="pay_now" jdbcType="DECIMAL" property="payNow" />
    <result column="pay_delivery" jdbcType="DECIMAL" property="payDelivery" />
    <result column="pay_receipt" jdbcType="DECIMAL" property="payReceipt" />
    <result column="pay_monthly" jdbcType="DECIMAL" property="payMonthly" />
    <result column="pay_account" jdbcType="DECIMAL" property="payAccount" />
    <result column="pay_total" jdbcType="DECIMAL" property="payTotal" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="update_user_id" jdbcType="BIGINT" property="updateUserId" />
    <result column="is_deleted" jdbcType="INTEGER" property="isDeleted" />
  </resultMap>
  <sql id="Base_Column_List">
    id, consign_code, departure, destination, consignor_id, consignee_id, vehicle_id, 
    product_id, loading_place, vehicle_leave_time, cargo_leave_time, expected_arrive_time, 
    cargo_package_time, pay_type, transport_type, receipt_type, delivery_type, basic_price, 
    vehicle_price, pay_now, pay_delivery, pay_receipt, pay_monthly, pay_account, pay_total, 
    status, remarks, create_time, update_time, create_user_id, update_user_id, is_deleted
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_consign
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_consign
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.dlf.model.po.Consign">
    insert into t_consign (id, consign_code, departure, 
      destination, consignor_id, consignee_id, 
      vehicle_id, product_id, loading_place, 
      vehicle_leave_time, cargo_leave_time, expected_arrive_time, 
      cargo_package_time, pay_type, transport_type, 
      receipt_type, delivery_type, basic_price, 
      vehicle_price, pay_now, pay_delivery, 
      pay_receipt, pay_monthly, pay_account, 
      pay_total, status, remarks, 
      create_time, update_time, create_user_id, 
      update_user_id, is_deleted)
    values (#{id,jdbcType=BIGINT}, #{consignCode,jdbcType=VARCHAR}, #{departure,jdbcType=VARCHAR}, 
      #{destination,jdbcType=VARCHAR}, #{consignorId,jdbcType=BIGINT}, #{consigneeId,jdbcType=BIGINT}, 
      #{vehicleId,jdbcType=BIGINT}, #{productId,jdbcType=BIGINT}, #{loadingPlace,jdbcType=VARCHAR}, 
      #{vehicleLeaveTime,jdbcType=TIMESTAMP}, #{cargoLeaveTime,jdbcType=TIMESTAMP}, #{expectedArriveTime,jdbcType=TIMESTAMP}, 
      #{cargoPackageTime,jdbcType=TIMESTAMP}, #{payType,jdbcType=INTEGER}, #{transportType,jdbcType=INTEGER}, 
      #{receiptType,jdbcType=INTEGER}, #{deliveryType,jdbcType=INTEGER}, #{basicPrice,jdbcType=DECIMAL}, 
      #{vehiclePrice,jdbcType=DECIMAL}, #{payNow,jdbcType=DECIMAL}, #{payDelivery,jdbcType=DECIMAL}, 
      #{payReceipt,jdbcType=DECIMAL}, #{payMonthly,jdbcType=DECIMAL}, #{payAccount,jdbcType=DECIMAL}, 
      #{payTotal,jdbcType=DECIMAL}, #{status,jdbcType=INTEGER}, #{remarks,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{createUserId,jdbcType=BIGINT}, 
      #{updateUserId,jdbcType=BIGINT}, #{isDeleted,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.dlf.model.po.Consign">
    insert into t_consign
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="consignCode != null">
        consign_code,
      </if>
      <if test="departure != null">
        departure,
      </if>
      <if test="destination != null">
        destination,
      </if>
      <if test="consignorId != null">
        consignor_id,
      </if>
      <if test="consigneeId != null">
        consignee_id,
      </if>
      <if test="vehicleId != null">
        vehicle_id,
      </if>
      <if test="productId != null">
        product_id,
      </if>
      <if test="loadingPlace != null">
        loading_place,
      </if>
      <if test="vehicleLeaveTime != null">
        vehicle_leave_time,
      </if>
      <if test="cargoLeaveTime != null">
        cargo_leave_time,
      </if>
      <if test="expectedArriveTime != null">
        expected_arrive_time,
      </if>
      <if test="cargoPackageTime != null">
        cargo_package_time,
      </if>
      <if test="payType != null">
        pay_type,
      </if>
      <if test="transportType != null">
        transport_type,
      </if>
      <if test="receiptType != null">
        receipt_type,
      </if>
      <if test="deliveryType != null">
        delivery_type,
      </if>
      <if test="basicPrice != null">
        basic_price,
      </if>
      <if test="vehiclePrice != null">
        vehicle_price,
      </if>
      <if test="payNow != null">
        pay_now,
      </if>
      <if test="payDelivery != null">
        pay_delivery,
      </if>
      <if test="payReceipt != null">
        pay_receipt,
      </if>
      <if test="payMonthly != null">
        pay_monthly,
      </if>
      <if test="payAccount != null">
        pay_account,
      </if>
      <if test="payTotal != null">
        pay_total,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="createUserId != null">
        create_user_id,
      </if>
      <if test="updateUserId != null">
        update_user_id,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="consignCode != null">
        #{consignCode,jdbcType=VARCHAR},
      </if>
      <if test="departure != null">
        #{departure,jdbcType=VARCHAR},
      </if>
      <if test="destination != null">
        #{destination,jdbcType=VARCHAR},
      </if>
      <if test="consignorId != null">
        #{consignorId,jdbcType=BIGINT},
      </if>
      <if test="consigneeId != null">
        #{consigneeId,jdbcType=BIGINT},
      </if>
      <if test="vehicleId != null">
        #{vehicleId,jdbcType=BIGINT},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=BIGINT},
      </if>
      <if test="loadingPlace != null">
        #{loadingPlace,jdbcType=VARCHAR},
      </if>
      <if test="vehicleLeaveTime != null">
        #{vehicleLeaveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cargoLeaveTime != null">
        #{cargoLeaveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="expectedArriveTime != null">
        #{expectedArriveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cargoPackageTime != null">
        #{cargoPackageTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payType != null">
        #{payType,jdbcType=INTEGER},
      </if>
      <if test="transportType != null">
        #{transportType,jdbcType=INTEGER},
      </if>
      <if test="receiptType != null">
        #{receiptType,jdbcType=INTEGER},
      </if>
      <if test="deliveryType != null">
        #{deliveryType,jdbcType=INTEGER},
      </if>
      <if test="basicPrice != null">
        #{basicPrice,jdbcType=DECIMAL},
      </if>
      <if test="vehiclePrice != null">
        #{vehiclePrice,jdbcType=DECIMAL},
      </if>
      <if test="payNow != null">
        #{payNow,jdbcType=DECIMAL},
      </if>
      <if test="payDelivery != null">
        #{payDelivery,jdbcType=DECIMAL},
      </if>
      <if test="payReceipt != null">
        #{payReceipt,jdbcType=DECIMAL},
      </if>
      <if test="payMonthly != null">
        #{payMonthly,jdbcType=DECIMAL},
      </if>
      <if test="payAccount != null">
        #{payAccount,jdbcType=DECIMAL},
      </if>
      <if test="payTotal != null">
        #{payTotal,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="updateUserId != null">
        #{updateUserId,jdbcType=BIGINT},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dlf.model.po.Consign">
    update t_consign
    <set>
      <if test="consignCode != null">
        consign_code = #{consignCode,jdbcType=VARCHAR},
      </if>
      <if test="departure != null">
        departure = #{departure,jdbcType=VARCHAR},
      </if>
      <if test="destination != null">
        destination = #{destination,jdbcType=VARCHAR},
      </if>
      <if test="consignorId != null">
        consignor_id = #{consignorId,jdbcType=BIGINT},
      </if>
      <if test="consigneeId != null">
        consignee_id = #{consigneeId,jdbcType=BIGINT},
      </if>
      <if test="vehicleId != null">
        vehicle_id = #{vehicleId,jdbcType=BIGINT},
      </if>
      <if test="productId != null">
        product_id = #{productId,jdbcType=BIGINT},
      </if>
      <if test="loadingPlace != null">
        loading_place = #{loadingPlace,jdbcType=VARCHAR},
      </if>
      <if test="vehicleLeaveTime != null">
        vehicle_leave_time = #{vehicleLeaveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cargoLeaveTime != null">
        cargo_leave_time = #{cargoLeaveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="expectedArriveTime != null">
        expected_arrive_time = #{expectedArriveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cargoPackageTime != null">
        cargo_package_time = #{cargoPackageTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payType != null">
        pay_type = #{payType,jdbcType=INTEGER},
      </if>
      <if test="transportType != null">
        transport_type = #{transportType,jdbcType=INTEGER},
      </if>
      <if test="receiptType != null">
        receipt_type = #{receiptType,jdbcType=INTEGER},
      </if>
      <if test="deliveryType != null">
        delivery_type = #{deliveryType,jdbcType=INTEGER},
      </if>
      <if test="basicPrice != null">
        basic_price = #{basicPrice,jdbcType=DECIMAL},
      </if>
      <if test="vehiclePrice != null">
        vehicle_price = #{vehiclePrice,jdbcType=DECIMAL},
      </if>
      <if test="payNow != null">
        pay_now = #{payNow,jdbcType=DECIMAL},
      </if>
      <if test="payDelivery != null">
        pay_delivery = #{payDelivery,jdbcType=DECIMAL},
      </if>
      <if test="payReceipt != null">
        pay_receipt = #{payReceipt,jdbcType=DECIMAL},
      </if>
      <if test="payMonthly != null">
        pay_monthly = #{payMonthly,jdbcType=DECIMAL},
      </if>
      <if test="payAccount != null">
        pay_account = #{payAccount,jdbcType=DECIMAL},
      </if>
      <if test="payTotal != null">
        pay_total = #{payTotal,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null">
        create_user_id = #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="updateUserId != null">
        update_user_id = #{updateUserId,jdbcType=BIGINT},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dlf.model.po.Consign">
    update t_consign
    set consign_code = #{consignCode,jdbcType=VARCHAR},
      departure = #{departure,jdbcType=VARCHAR},
      destination = #{destination,jdbcType=VARCHAR},
      consignor_id = #{consignorId,jdbcType=BIGINT},
      consignee_id = #{consigneeId,jdbcType=BIGINT},
      vehicle_id = #{vehicleId,jdbcType=BIGINT},
      product_id = #{productId,jdbcType=BIGINT},
      loading_place = #{loadingPlace,jdbcType=VARCHAR},
      vehicle_leave_time = #{vehicleLeaveTime,jdbcType=TIMESTAMP},
      cargo_leave_time = #{cargoLeaveTime,jdbcType=TIMESTAMP},
      expected_arrive_time = #{expectedArriveTime,jdbcType=TIMESTAMP},
      cargo_package_time = #{cargoPackageTime,jdbcType=TIMESTAMP},
      pay_type = #{payType,jdbcType=INTEGER},
      transport_type = #{transportType,jdbcType=INTEGER},
      receipt_type = #{receiptType,jdbcType=INTEGER},
      delivery_type = #{deliveryType,jdbcType=INTEGER},
      basic_price = #{basicPrice,jdbcType=DECIMAL},
      vehicle_price = #{vehiclePrice,jdbcType=DECIMAL},
      pay_now = #{payNow,jdbcType=DECIMAL},
      pay_delivery = #{payDelivery,jdbcType=DECIMAL},
      pay_receipt = #{payReceipt,jdbcType=DECIMAL},
      pay_monthly = #{payMonthly,jdbcType=DECIMAL},
      pay_account = #{payAccount,jdbcType=DECIMAL},
      pay_total = #{payTotal,jdbcType=DECIMAL},
      status = #{status,jdbcType=INTEGER},
      remarks = #{remarks,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_user_id = #{createUserId,jdbcType=BIGINT},
      update_user_id = #{updateUserId,jdbcType=BIGINT},
      is_deleted = #{isDeleted,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>